// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title {
  text-align: center;
}

.box {
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 1px solid black;
}


.red {
  background-color: red;
  color: red;
}

.black {

}

.blue {

}

.orange {

}

.green {

}

.gray {

}